<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1280" height="720" viewBox="0 0 1280 720">
  <image xlink:href="bg_deep_sea.jpg" x="0" y="0" width="1280" height="720" preserveAspectRatio="xMidYMid slice"/>
  <image xlink:href="krill_swoosh.png" x="-60" y="540" width="420" height="392" preserveAspectRatio="xMidYMid meet" opacity="0.9"/>
  <text x="64" y="200" font-family="Manrope" font-size="16" font-weight="700" fill="#E30917" letter-spacing="3">LET'S TALK</text>
  <text x="64" y="330" font-family="Exo 2" font-size="{{CTA_TITLE_SIZE}}" font-style="italic" font-weight="700" fill="#E9F7F8">{{CTA_TITLE}}</text>
  <text x="64" y="400" font-family="Manrope" font-size="{{CONTACT_SIZE}}" fill="#A9DBD5">{{CONTACT}}</text>
  {{DISCLAIMER_LINES}}
  <image xlink:href="superba_white.png" x="32" y="666" width="189" height="31" preserveAspectRatio="xMinYMid meet"/>
  <image xlink:href="aker_white.png" x="1096" y="674" width="139" height="17" preserveAspectRatio="xMaxYMid meet"/>
</svg>
