<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1280" height="720" viewBox="0 0 1280 720">
  <rect x="0" y="0" width="1280" height="720" fill="#163536"/>
  <text x="64" y="300" font-family="Manrope" font-size="{{KICKER_SIZE}}" font-weight="700" fill="#E30917" letter-spacing="3">{{KICKER}}</text>
  <rect x="66" y="322" width="70" height="7" fill="#E30917"/>
  <text x="64" y="400" font-family="Exo 2" font-size="{{SECTION_TITLE_SIZE}}" font-style="italic" font-weight="700" fill="#E9F7F8">{{SECTION_TITLE}}</text>
  <image xlink:href="superba_white.png" x="64" y="654" width="170" height="30" preserveAspectRatio="xMinYMid meet"/>
  <image xlink:href="aker_white.png" x="1080" y="656" width="136" height="28" preserveAspectRatio="xMaxYMid meet"/>
</svg>
